<h1>Quote<h1>
<h2><a href="http://localhost:3000/people">Index of Quoted People</a>
<a href="http://localhost:3000/quotes">Index of Quotes</a></h2>
<p>
<%="#{@quote.text}"%>
<%="#{@quote.recorded}"%>
<%="#{@quote.person_id}"%>

</p>